PDF_READER_CHATBOT_DOCUMENTATION.docx
pdf_reader-highlight.mp4
pdf_reader.mp4
data_science.pdf
chatbot_chatgpt.py
.env
.streamlit/secrets.toml
eng_pdf.pdf
guj_pdf.pdf
hindi_pdf.pdf
mar_pdf.pdf
waste.py
Tender_Document.pdf
table.txt
tender1.pdf
tender2.pdf
tender3.pdf.crdownload
text.txt
large_file.pdf
utils_copy.py
1.txt
2.txt
GEM-2024-B-5397898_591.pdf
